Source: traduia
Section: utils
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), zero-dev, llxsrchelper, inkscape
Standards-Version: 4.6.2
Homepage: http://lliurex.net
Vcs-Browser: https://github.com/lliurex/traduia
Vcs-Git: https://github.com/lliurex/traduia

Package: traduia
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 bash,
 coreutils,
 sed,
 gawk,
 python3-venv,
 kdialog,
 pulseaudio-utils,
 share-ai-server,
 python3-pyside6.qtwidgets,
 python3-pyside6.qtcore,
 python3-pyside6.qtgui
Description: Realtime transcription system
 Transcription system intended to be used in multilingual classrooms or special education schools.

Package: zero-lliurex-traduia
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 zero-center,
 epi-gtk
Description: TraduIA installer
 Easy installer for TraduIA built for zero-center.
