#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --with llxsrc,zero

override_dh_install:
	dh_install
	mkdir -p debian/zero-lliurex-traduia/usr/share/locale/es/LC_MESSAGES
	mkdir -p debian/zero-lliurex-traduia/usr/share/locale/en/LC_MESSAGES
	mkdir -p debian/zero-lliurex-traduia/usr/share/locale/ca/LC_MESSAGES
	mkdir -p debian/zero-lliurex-traduia/usr/share/locale/ca_ES@valencia/LC_MESSAGES
	cp i18n/locale/es/LC_MESSAGES/traduia.mo debian/zero-lliurex-traduia/usr/share/locale/es/LC_MESSAGES/zero-lliurex-traduia.mo
	cp i18n/locale/en/LC_MESSAGES/traduia.mo debian/zero-lliurex-traduia/usr/share/locale/en/LC_MESSAGES/zero-lliurex-traduia.mo
	cp i18n/locale/ca/LC_MESSAGES/traduia.mo debian/zero-lliurex-traduia/usr/share/locale/ca/LC_MESSAGES/zero-lliurex-traduia.mo
	cp i18n/locale/ca/LC_MESSAGES/traduia.mo debian/zero-lliurex-traduia/usr/share/locale/ca_ES@valencia/LC_MESSAGES/zero-lliurex-traduia.mo

# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
